/* BODY */

body{
    background-color: rgb(215, 217, 219);
     }
    
                                                                /* NAVBAR */
     
    #sitename{
    float: left;
    }                                            
    
    .navbar{
        background-color: rgb(230, 212, 212);
        /* border-radius: 30px; */
        
    }
    .navbar ul{
        overflow: auto;
        margin: 0px;
        padding-left: 0px;}
    
    .navbar li{
        float:right;
        list-style: none; 
        margin: 13px 20px;
        
    }
    .navbar li a{
        padding: 3px 3px;
        text-decoration: none;
        color: rgb(70, 20, 20);
    }
    .navbar li a:hover{
        color: #fff6a4
    }
    .search{
        float: right;
        color: white;
        padding: 12px 75px;
    }
    /* .navbar input{
        border: 2px solid rgb(54, 0, 0);
        border-radius: 14px;
        padding: 3px 17px;
        width: 129px;
    } */
    
                                                                  /* HOME IMAGE */
    
    .div1{
    
    }
    
    .img1{
    width: 100%;
    }
    
                                                                    /* ABOUT */
    
    .div2{
        width: 100%;
        height: 500px;
        background-color: black;
        width: 100%;
        overflow: auto;
        padding: 50px;
    }
    .div2a{
        width: 49%;
        height: 100%;
        background-color:rgb(231, 132, 96);
        float: left;
        /* margin: auto; */
        color: white;
    }
    .div2b{
        width: 49%;
        height: 100%;
        /* background-color:blue; */
        float: right;
        border-right: black 0.5px solid;
        /* margin: auto; */
    }
    
    /* 
        
        } */
    .heading2a{
        text-align: center;
        line-height: 1.35em;
        padding-top: 60px;
    }
    .para2a{
        text-align: center;
        line-height: 1.875em;
        padding: 90px 40px 13px;
    }          
    .img2b{
    
    }
                                                                  /* OUR SERVICES */
                                                                
    .heading2{
    
    }
    
    .para2{
    
    }
    
    /* .div3{
        width: 100%;
        height: 400px;
        margin: 0px;
        background-color: rgb(199, 34, 34);
    } */
    .div3{
        width: 100%;
        height: 500px;
        background-color: transparent;
        padding: 50px 10px 50px 10px;
        /* margin:0px; */
    }
    .div3a{
        height: 500px;
        width: 31.3%;
        background-color: rgb(0, 0, 0);
        float: left;
        }
    .img3a{
        width: 100%;
        height: 300px;
    }
    
    .div3b{
        height: 500px;
        width: 31.3%;
        background-color: rgb(23, 65, 99);
        margin-left: 3%;
        float: left;
        }
    .img3b{
            width: 100%;
            height: 300px;
    }
    .div3c{
        height: 500px;
        width: 31.3%;
        background-color:rgb(231, 132, 96);
        float: right;
        }                                                       
    .img3c{
            width: 100%;
            height: 300px;
    }
    .heading3{
        color:#EBEAE6;
        text-align: center;
        padding-top: 43px;
    }
    
                                                        /* GET IN TOUCH */
    
    .div4{
    width: 100%;
    height: 650px;
    background-color: black;
    padding: 30px 50px 0px 50px;
    }
    .div4a{
        width: 100%;
        height: 600px;
        background-color: rgb(231, 132, 96);
    }
    .div4a1{
    background-color: transparent;
    width: 50%;
    height: 300px;
    background-color: transparent;
    }
    .heading4a1{
     color:#EBEAE6;
     text-align: center;
    padding-top: 100px;
    }
    .para4a1{
        color:#EBEAE6;
        text-align: center;
    }
    
                                                                 /* FORM */
                                                        

.div4b{
    float: right;
}
    /* *{
        margin: 0;
    padding: 0;
    }
    body{
        background: url("images/form.jpg");
        background-size: 280%;
        background-position: -400px 0px;
    }
    div.main{
        
        width: 400px;
        margin: 100px auto 0px auto;
    
    }
    h2{
        text-align: center;
    padding: 20px;
    font-family: sans-serif;
    }
    div.register
    {
        
        background-color: rgba(0,0,0,0.5);
        width:100%;
        font-size: 18px;
        border-radius: 10px;
        border:1px solid rgba(255,255,255,0.3);
        box-shadow:2px  2px 15px rgba(0,0,0,0.3);
        color:#fff;
    
    }
    form#register{
        margin: 40px;  
    }
    label{
        font-family: sans-serif;
        font-size: 18px;
    }
    input#name{
        width: 300px;
        border: 1px solid #ddd;
        border-radius: 3px;
        outline: 0;
        padding: 7px;
        background-color: #fff;
        box-shadow: inset 1px 1px 5px rgba(0,0,0,0.3)
    
    
    }
    
    input#submit
    {
        width: 200px;
        padding:7px;
        font-family: sans-serif;
        font-size: 16px;
        font-weight: 600; 
        border:none;
        border-radius:3px;
        background-color: rgba(250,100,0,0.8);
        color:#fff;
        cursor: pointer;
        border: 1px solid rgba(255,255,255,0.3);
        box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
    
    }
    
    label,span,h2{
        text-shadow: 1px 1px 5px
        rgba(0,0,0,0.3);
    } */





                                                             /* FOOTER */

    
    .footer{
        text-align: center;
    }
    .footerdiv{
        padding: 7% 15%;;
    }
    
    
    
    
    .abc{
        margin-top: 0px;
    }
    
    
    
    
    
    /* img{
        width: 100%;
        height: 100%;
    } */